@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  max-width: 1200px;
}

.site-header {
  padding-top: 26px;
}

.site-header__logo-block {
  height: 34px;
  width: 150px;
  margin-bottom: 17px;
}

.site-header__list {
  display: flex;
  gap: 50px;
}

.site-header__item {
  border: 3px solid transparent;
  padding-bottom: 17px;
}

.site-header__item:hover {
  border-bottom: 3px solid #46A358;
}

.site-hader__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
}

.site-header__button-link-1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 8px 17px;
  background: #46A358;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.site-header__button-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.site-header__button-pict {
  height: 20px;
  width: 20px;
}